<div id="locker">
    <h2> Reserva tu taquilla </h2>

    <form action="/locker" method="post">
        <div id="col-izq">
            <p> Campus: </p>
            <select id="campus" name="campus" [(ngModel)]="campus" (change)="onChangeCampus($event)">
                <option name="vacio"></option>
                <option name="CCSSJJ" [value]=1>CCSSJJ</option>
                <option name="Leganes" [value]=2>Leganés</option>
            </select>
            <br>
            <p> Piso </p>
            <select id="floor" name="floor" [(ngModel)]="floor" (change)="onChangeFloor($event)">
                <option name="vacio"></option>
                <option *ngFor="let fl of floors">
                    {{fl}}
                </option>
            </select>
        </div>
        <div id="col-der">
            <p> Edificio </p>
            <select id="building" name="building" [(ngModel)]="building" (change)="onChangeBuilding($event)">
                <option name="vacio"></option>
                <option *ngFor="let bd of buildings">
                    {{bd}}
                </option>
            </select>
            <br>
            <p> Zona: </p>
            <select id="zone" name="zone" [(ngModel)]="zone">
                <option name="vacio"></option>
                <option *ngFor="let zn of zones">
                    {{zn}}
                </option>
            </select>
        </div>
        <div id="abajo">
            <div *ngIf="this.campus==1" id="tipo-taquilla">
                <input name="tipo" value="simple" type="radio">
                <label> Simple: 6€ </label>
            </div>
            <div *ngIf="this.campus==2" id="tipo-taquilla">
                <input name="tipo" value="simple" type="radio">
                <label> Simple: 4€ </label>
                <input name="tipo" value="doble" type="radio">
                <label> Doble: 6€ </label>
            </div>

            <p> Número de taquilla (opcional) </p>
            <input name="num" type="number">
            <br>
            <button id="btnreserva" type="submit" value="reserva" name="formulario">
                Reservar taquilla</button>

        </div>
    </form>
</div>