<div class="manager-new-place">
    <mat-card>
        <mat-form-field>
            <mat-select placeholder="Campus" [(value)]="newPlaceObject.school" required>
                <mat-option *ngFor="let school of schoolName" [value]="schoolName.indexOf(school) + 1">
                    {{school}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Edificio" value="{{newPlaceObject.building}}" [(ngModel)]="newPlaceObject.building" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Planta" value="{{newPlaceObject.floor}}" [(ngModel)]="newPlaceObject.floor" type="number" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Zona" value="{{newPlaceObject.zone}}" [(ngModel)]="newPlaceObject.zone" required>
        </mat-form-field>

        <button mat-button (click)="newPlace()">Nuevo</button>

    </mat-card>
</div>