#manager-control-panel {
  float: right;
  margin-right: 10%;
  text-align: center;
}

#ultimas-reservas {
  margin-left: 10%;
}

#manager ul {
  text-align: left;
}

table {
  margin-bottom: 15px;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
    background-color: #fff;
}

#search {
  width: 275px;
  margin-bottom: 15px;
}

#manager h2 {
  color: #066394;
  text-align: left;

}

h4 {
  font-weight: 300;
  text-align: left;
}
