<div class="manager-new-locker">
    <mat-card>
        <mat-form-field style="width:20% !important">
            <input matInput placeholder="Numero" value="{{newLockerObject.number}}" [(ngModel)]="newLockerObject.number" type="number" required>
        </mat-form-field>
        <mat-form-field style="width:20% !important">
            <mat-select placeholder="Tipo" [(value)]="newLockerObject.type" required>
                <mat-option *ngFor="let type of typesIterator" [value]="type">
                    {{types.get(type)}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="width:40% !important">
            <input type="text" placeholder="Lugar" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" >
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let place of filteredPlaces | async" [value]="place">
                    {{place}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <button mat-button (click)="newPlace()" style="width:20% !important">Nuevo</button>

    </mat-card>
</div>