<div id="admin">
<div id="admin-control-panel">
  <h2> Panel de control </h2>
  <h4> Funciones de administrador </h4>
  <ul>
    <li> <a routerLink="locker"> Listar taquillas </a> </li>
    <li> <a routerLink="select"> Administrar taquillas </a> </li>
  </ul>
</div>

<div id="ultimas-reservas">
  <h2> Últimas reservas </h2>
  <input id="search" type="search" placeholder="Buscar">
  <button id="allbtn" type="submit"> Ver todas </button>

  <table>
    <tr>
      <th>Usuario</th>
      <th>Número</th>
      <th>Localización</th>
    </tr>
    <tr>
      <td>100346186</td>
      <td>155</td>
      <td>Torres quevedo, planta 1</td>
    </tr>
    <tr>
      <td>100346186</td>
      <td>155</td>
      <td>Torres quevedo, planta 1</td>
    </tr>
    <tr>
      <td>100346186</td>
      <td>155</td>
      <td>Torres quevedo, planta 1</td>
    </tr>
    <tr>
      <td>100346186</td>
      <td>155</td>
      <td>Torres quevedo, planta 1</td>
    </tr>
    <tr>
      <td>100346186</td>
      <td>155</td>
      <td>Torres quevedo, planta 1</td>
    </tr>
    <tr>
      <td>100346186</td>
      <td>155</td>
      <td>Torres quevedo, planta 1</td>
    </tr>
  </table>
  <br>
</div>

</div>
