<div class="places-table">
    <mat-card>
        Gestión de Lugares
    </mat-card>
</div>

<div class="places-table">
    <mat-card>
        <mat-form-field>
            <input matInput placeholder="Campus" value="{{newPlaceObject.school}}" [(ngModel)]="newPlaceObject.school">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Edificio" value="{{newPlaceObject.building}}" [(ngModel)]="newPlaceObject.building">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Planta" value="{{newPlaceObject.floor}}" [(ngModel)]="newPlaceObject.floor">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Zona" value="{{newPlaceObject.zone}}" [(ngModel)]="newPlaceObject.zone">
        </mat-form-field>

        <button mat-button (click)="newPlace()">Nuevo</button>

    </mat-card>
</div>

<div class="mat-elevation-z8 places-table">

    <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
            <mat-footer-cell *matFooterCellDef>*</mat-footer-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="school">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Campus</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <div *ngIf="selectedRow != row.id">
                    {{row.school}}
                </div>

                <div *ngIf="selectedRow == row.id">
                    <mat-form-field>
                        <input matInput value="{{modifyPlace.school}}" [(ngModel)]="modifyPlace.school">
                    </mat-form-field>
                </div>
            </mat-cell>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="building">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Edificio</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <div *ngIf="selectedRow != row.id">
                    {{row.building}}
                </div>

                <div *ngIf="selectedRow == row.id">
                    <mat-form-field>
                        <input matInput value="{{modifyPlace.building}}" [(ngModel)]="modifyPlace.building">
                    </mat-form-field>
                </div>
            </mat-cell>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="floor">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Planta</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <div *ngIf="selectedRow != row.id">
                    {{row.floor}}
                </div>

                <div *ngIf="selectedRow == row.id">
                    <mat-form-field>
                        <input matInput value="{{modifyPlace.floor}}" [(ngModel)]="modifyPlace.floor">
                    </mat-form-field>
                </div>
            </mat-cell>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="zone">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Zona</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <div *ngIf="selectedRow != row.id">
                    {{row.zone}}
                </div>

                <div *ngIf="selectedRow == row.id">
                    <mat-form-field>
                        <input matInput value="{{modifyPlace.zone}}" [(ngModel)]="modifyPlace.zone">
                    </mat-form-field>
                </div>
            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-button (click)="editSave(row)" *ngIf="selectedRow != row.id">Editar</button>
                <button mat-button (click)="editSave(row)" *ngIf="selectedRow == row.id">Guardar</button>
            </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-button (click)="deleteCancel(row)" *ngIf="selectedRow != row.id">Eliminar</button>
                <button mat-button (click)="deleteCancel(row)" *ngIf="selectedRow == row.id">Cancelar</button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[25, 50]">
    </mat-paginator>
</div>