<div id="lockerslist">
  <table>
  <tr>
    <th>Usuario</th>
    <th>Número</th>
    <th>Localización</th>
    <th>Acciones</th>
  </tr>
  <tr>
    <td>100346186</td>
    <td>155</td>
    <td>Torres quevedo, planta 1</td>
    <td>Editar Ver Eliminar </td>
  </tr>
  <tr>
    <td>100346186</td>
    <td>155</td>
    <td>Torres quevedo, planta 1</td>
    <td>Editar Ver Eliminar </td>
  </tr>
  <tr>
    <td>100346186</td>
    <td>155</td>
    <td>Torres quevedo, planta 1</td>
    <td>Editar Ver Eliminar </td>
  </tr>
  <tr>
    <td>100346186</td>
    <td>155</td>
    <td>Torres quevedo, planta 1</td>
    <td>Editar Ver Eliminar </td>
  </tr>
  <tr>
    <td>100346186</td>
    <td>155</td>
    <td>Torres quevedo, planta 1</td>
    <td>Editar Ver Eliminar </td>
  </tr>
  <tr>
    <td>100346186</td>
    <td>155</td>
    <td>Torres quevedo, planta 1</td>
    <td>Editar Ver Eliminar </td>
  </tr>
</table>
</div>
